<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LGEVN.SMS.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <LGEVN.SMS.Console.Properties.Settings>
            <setting name="LGEVN_SMS_Console_LG_SMS_Service" serializeAs="String">
                <value>http://210.245.81.131/ComonWS/SMSAgentWS.asmx</value>
            </setting>
        </LGEVN.SMS.Console.Properties.Settings>
    </applicationSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=42.112.29.8:1521/VNPCSOM;User Id=vnwtsom;Password=vnwtsom;"/>
	</connectionStrings>
	<appSettings>
		<add key="ServiceURL" value="http://210.245.81.131/ComonWS/SMSAgentWS.asmx"/>
		<add key="wsUser" value="LG"/>
		<add key="wsPwd" value="LG!@#"/>
		<add key="minutesCk" value="1"/>
	</appSettings>
</configuration>