<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LGEVN.Client.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LGEVN.Client.Console.Properties.Settings>
            <setting name="LGEVN_Client_Console_LGService_LgeService" serializeAs="String">
                <value>http://localhost:1350/LgeService.asmx</value>
            </setting>
        </LGEVN.Client.Console.Properties.Settings>
    </applicationSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.16.219.246:1521/VNANZ;User Id=vnwtsom;Password=vnwtsom;"/>
    <add name="ConnectionString3" connectionString="Data Source=123.30.208.199:1521/KTNET2E;User Id=TEST_NET2E;Password=vdcnet2e_123;"/>
    <add name="ConnectionString2" connectionString="Data Source=42.112.29.8:1521/VNPCSOM;User Id=vnwtsom;Password=vnwtsom;"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceURL" value="http://localhost:1350/LgeService.asmx"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
