<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <TestApplication.Properties.Settings>
      <setting name="TestApplication_LGService_LgeService" serializeAs="String">
        <value>http://localhost:1350/LgeService.asmx</value>
      </setting>
    </TestApplication.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=123.30.208.199:1521/KTNET2E;User Id=TEST_NET2E;Password=vdcnet2e_123;"/>
  </connectionStrings>
</configuration>
