<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="ConnectionString2" connectionString="Data Source=123.30.208.199:1521/KTNET2E;User Id=TEST_NET2E;Password=vdcnet2e_123;"/>
    <add name="ConnectionString" connectionString="Data Source=42.112.29.8:1521/VNPCSOM;User Id=vnwtsom;Password=vnwtsom;"/>
  </connectionStrings>
</configuration>
